name: ci

on: [push, pull_request]

jobs:
  build:
    name: build
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v3
      - name: Setup Deno
        uses: denoland/setup-deno@v1

      - name: Format
        run: deno fmt --check

      - name: Check
        run: deno check --unstable --remote mod.ts

      - name: Lint
        run: deno lint

      - name: Tests
        run: echo "how to test???"
